.features {
  display: flex;
  padding: 100px auto 97px auto; 
  flex-direction: column;
  align-items: center;
  gap: 0rem;
  align-self: stretch;
  background: none;

  @include desktop-small {
    padding: 3rem 1rem;
  }

  .features-header-section {
    text-align: center;
    width: 80%;
  }

  .block-title {
    color: var(--color-black);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; 
    margin-bottom: 12px;
    width: 269px;
    height: 76px;
    flex-shrink: 0;

    @include desktop-small {
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
    }
  }

  .features-container {
    display: flex;
    padding: 2.5rem 0.625rem;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0rem;
    flex-wrap: wrap;

    @include desktop-small {
      padding: 2.5rem 0;
      flex-direction: column;
    }

    .feature {
      display: flex;
      align-items: flex-start;
      gap: 12px;
      flex-shrink: 0;
      cursor: pointer;
      background: #fff;
      padding: 32px 24px; 
      
      transition: all 0.3s ease-in-out;
      /* Add a smooth transition effect */
      flex: 40%;
      align-self: stretch;

      &:first-of-type {
        border: 2px solid var(--color-grey);
      }

      &:nth-of-type(2) {
        border-top: 2px solid var(--color-grey);
        border-bottom: 2px solid var(--color-grey);
        border-right: 2px solid var(--color-grey);

        @include desktop-small {
          border-top: none;
          border-bottom: 2px solid var(--color-grey);
          border-right: 2px solid var(--color-grey);
          border-left: 2px solid var(--color-grey);
        }
      }

      &:nth-of-type(3) {
        border-top: 2px solid var(--color-grey);
        border-bottom: 2px solid var(--color-grey);
        border-right: 2px solid var(--color-grey);

        @include desktop-small {
          border-top: none;
          border-bottom: 2px solid var(--color-grey);
          border-right: 2px solid var(--color-grey);
          border-left: 2px solid var(--color-grey);
        }
      }

      &:hover {
        border: 2px solid var(--color-primary);
      }

      &.small-header {
        .feature-title {
          // Styles specific to when 'special-class' is present on the same element
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 28px;
        }

        p {
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          /* 155.556% */
        }
      }

      &.apply-border {
        border: 2px solid var(--color-border);
      }

      &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        transform: translateY(-.15rem);
        /* Adjust the values as needed */
      }

      @include desktop-small {
        flex: auto;
      }

      p {
        color: var(--color-black);
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
      }

      .feature-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        align-self: stretch;

        $icon-size: 73px;

        .icon-container {
          width: $icon-size;
          height: $icon-size;

          &.rounded {
            border-radius: 50%;
          }

          overflow: hidden;
          border: 8px solid #F5FBFF;
          background: #E0EAFF;
          display: flex;
          justify-content: center;
          align-items: center;

          .icon {
            // width: $icon-size;
            // height: $icon-size;
            width: 100%;
            padding: 8px;
            object-fit: cover; // This property ensures the image covers the entire container without distorting its aspect ratio
          }
        }
      }
    }
  }
}