.cheeseburger-menu {
  display: none;
}

@include desktop-small {
  #mobile-menu-icon {
    display: block;
    background-image: url(../../images/menu.svg);
    background-repeat: no-repeat;
    background-position: right;
    height: 21px;
    width: 40px;
  }

  .cheeseburger-menu {
    display: block;
    position: fixed;
    display: flex;
    height: auto;
    width: 100%;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    border-radius: 0rem 0rem 0.625rem 0rem;
    background: var(--color-white);
    top: 82px;
    border: 1px solid lightgrey;

    transform: translateX(-100%);
    transition: ease-in 0.2s;
    z-index: 3;
    display: flex;

    &.open {
      transform: translateX(0);
    }

    .cheeseburger-menu__close {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      height: 40px;
      align-items: center;

      span {
        background-image: url(../../images/close.svg);
        background-repeat: no-repeat;
        background-size: 38px;
        height: 40px;
        width: 40px;
      }
    }

    .cheeseburger-menu__menu {
      display: flex;
      // padding-bottom: 1.5rem;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      align-self: stretch;

      .menu-item {
        width: 100%;
        text-align: center;
        
      }

      .menu-item__link {
        color: var(--color-black);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        text-decoration: none;
        border-bottom: 4px solid transparent;

        &:active {
          border-color: var(--color-primary);
        }
      }

      .button {
        padding: 12px 16px;
        color: var(--color-white);
        background: var(--color-primary);
        /* Text md/Semibold */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        border-radius: 0px;
        /* 150% */
      }

      .btn {
        display: block;
        padding: 12px 16px;
        /* Text md/Semibold */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        width: 100%;
        border-radius: 0px;

        background: var(--color-primary);
        color: var(--color-white);
        /* 150% */
      }

      .signup {
        border: solid 2px var(--color-primary);
        background-color: transparent;
        color: var(--color-primary);
      }
    }
  }

  .overlay {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgb(0 0 0 / 59%);
    z-index: 1;
  }
}